#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  margin-top: 0;
}

.navbar-items {
  display: flex;
  gap: 1rem;
}

.navbar-items button {
  padding: 0.5rem 1rem;
  border: none;
  background: none;
  border-radius: 0.25rem;
  color: white;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
  transition: transform 0.3s ease, color 0.3s ease;
}

.navbar-items button:hover {
  transform: scale(1.1);
  color: #4b4bff;
}

.navbar-logo {
  font-size: 1.5rem;
  font-weight: 700;
}
.navbar-logo img {
  width: 5rem;
  height: 5rem;
  border: 2px solid white;
  border-radius: 60px;
}

.test-grid ul{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1rem;
    margin-top: 2rem;
}

.test-grid li {
    list-style: none;
    background: none;
    padding: 1rem;
    border-radius: 0.25rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.searchbar {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;
}

.searchbar input {
  padding: 0.5rem 1rem;
  border: 1px solid #646cff;
  border-radius: 0.25rem;
  font-size: 1rem;
  width: 100%;
}

.searchbar-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: white;
  border: 1px solid #646cff;
  border-radius: 0.25rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1;
  max-height: 200px;
  overflow-y: auto;
}

.searchbar-dropdown ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.searchbar-dropdown li {
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.searchbar-dropdown button {
  background-color: #f8f9fa; /* Light background color */
  color: #4b4bff; /* Blue text color */
  border: none; /* Remove default border */
  padding: 0.5rem 1rem; /* Add padding */
  text-align: left; /* Align text to the left */
  width: 100%; /* Make button take full width */
  font-size: 1rem; /* Set font size */
  cursor: pointer; /* Change cursor to pointer */
  transition: background-color 0.3s ease; /* Smooth transition for background color */
}

.searchbar-dropdown button:hover {
  background-color: #e2e6ea; /* Slightly darker background on hover */
}

.searchbar-dropdown button:focus {
  outline: none; /* Remove default focus outline */
  background-color: #dae0e5; /* Different background color on focus */
}

.marquee-container {
  overflow: hidden;
  white-space: nowrap;
  padding: 1rem 0;
  box-sizing: border-box;
  position: relative;
}


.marquee-container:hover .marquee-content {
  animation-play-state: paused;
}

.marquee-content {
  display: inline-block;
  gap: 20px;
  animation: marquee 30s linear infinite;
}

.marquee-content img {
  margin-right: 15px;
  border: 2px hidden;
  border-radius: 15px;
  transition: transform 0.3s ease;
}

.marquee-content img:hover {
  transform: scale(1.1);
}

@keyframes marquee {
  0% {
    transform: translateX(50%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.test-grid li {
    list-style: none;
    background: none;
    padding: 1rem;
    border-radius: 0.25rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.test-grid li:hover {
    transform: scale(1.1);
}

.footer {
  position: fixed;
  bottom: 0;
  text-align: center;
  font-size: 0.8rem;
  left: 0;
  width: 100%;
  background-color: #242424;
  color: #646cff;
}

